.encabezado {
    margin-left: 2rem ;
    height: 100%;

    & h1{      
      font-size: var(--text-xxl);
        color: var(--color-blanco);
        font-family: var(--fuente-default);
    }
}



.pointerable{
    cursor: pointer;
}
