.author-list{
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.author {
    width: 25rem;
    padding: 0.8rem;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: repeat(2, 3rem);
    background-color: var(--color-hover-amigos);
    border: 1px solid black;
    border-radius: 0.7rem;
    transition: 0.25s;
    &:hover {
        box-shadow: var(--shadow-elevation-high);
    }
}

.author__nombre {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: start;
    align-self: center;
}

.author__nacionality {
    font-size: 1.4rem;
    text-align: start;
    align-self: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    & button {
        background-color: transparent;
        border: none;
    }

    & svg {
        height: 2.5rem;
        width: 2.5rem;
    }
}