header {
    height: var(--dimension-md);
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--color-primary-bright);
    padding: var(--space-sm);
    gap: var(--space-xs);

    div {
        display: flex;
        align-items: end;
    }
}