.toast {
    padding: 16px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    z-index: 9999;
    max-height: fit-content;
    font-size: large;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast.success {
    background-color: #4caf50;
}

.toast.error {
    background-color: #f44336;
}

.toast.info {
    background-color: #2196f3;
}

.toast.warning {
    background-color: #ff9800;
}

.toast button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

@keyframes fadein {
    from { bottom: 0; opacity: 0; }
    to { bottom: 30px; opacity: 1; }
}

@keyframes fadeout {
    from { bottom: 30px; opacity: 1; }
    to { bottom: 0; opacity: 0; }
}
